<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <connectionStrings>
    <add name="InfluxDB" connectionString="Data Source = udp://<influxdb_host>:8092;Initial Catalog=sonar;User Id =; Password =; Application Name = default;Max Pool Size=100;Packet Size=4094;Connection Timeout=10"/>
  </connectionStrings>
  <Sonar>
    <Runtime scrapeIntervalSeconds="10" />
    <Server name="host" url="http://<machine_name>:5985/wsman" username="<username>" password="<password>"/>
    <Queries>
        <add Name="Win32_LogicalDisk" 
            Wql="select Name,Size,FreeSpace,SystemName from Win32_LogicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="SystemName" value = "SystemName"/>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Size" value="CimType.UInt64"/>
                <add name="FreeSpace" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="PerfDisk_LogicalDisk" 
            Wql="SELECT Name,PercentDiskReadTime,PercentDiskWriteTime,PercentIdleTime,PercentFreeSpace FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentDiskReadTime" value="CimType.UInt64"/>
                <add name="PercentDiskWriteTime" value="CimType.UInt64"/>
                <add name="PercentIdleTime" value="CimType.UInt64"/>
                <add name="PercentFreeSpace" value="CimType.UInt32"/>
            </Values>
        </add>
        <add Name="PerfOS_Processor" 
            Wql="select Name,PercentProcessorTime,PercentUserTime,PercentIdleTime from Win32_PerfFormattedData_PerfOS_Processor" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentProcessorTime" value="CimType.UInt64"/>
                <add name="PercentUserTime" value="CimType.UInt64"/>
                <add name="PercentIdleTime" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="PerfProc_Process" 
            Wql="select Name,PercentProcessorTime,PercentUserTime from Win32_PerfFormattedData_PerfProc_Process where PercentProcessorTime > 0" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentProcessorTime" value="CimType.UInt64"/>
                <add name="PercentUserTime" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="BizTalkMessageAgent" 
            Wql="SELECT * FROM Win32_PerfFormattedData_BTSSvc30_BizTalkMessageAgent" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>                
                <add name="Activeinstancecount" value="CimType.UInt32" />
                <add name="Caption" value="CimType.String" />
                <add name="Databasesession" value="CimType.UInt32" />
                <add name="Databasesessionthreshold" value="CimType.UInt32" />
                <add name="Databasesize" value="CimType.UInt32" />
                <add name="Description" value="CimType.String" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="Highdatabasesession" value="CimType.UInt32" />
                <add name="Highdatabasesize" value="CimType.UInt32" />
                <add name="Highinprocessmessagecount" value="CimType.UInt32" />
                <add name="Highmessagedeliveryrate" value="CimType.UInt32" />
                <add name="Highmessagepublishingrate" value="CimType.UInt32" />
                <add name="Highprocessmemory" value="CimType.UInt32" />
                <add name="Highsystemmemory" value="CimType.UInt32" />
                <add name="Highthreadcount" value="CimType.UInt32" />
                <add name="Inprocessmessagecount" value="CimType.UInt32" />
                <add name="Inprocessmessagecountthreshold" value="CimType.UInt32" />
                <add name="Messagedeliverydelayms" value="CimType.UInt32" />
                <add name="Messagedeliveryincomingrate" value="CimType.UInt32" />
                <add name="Messagedeliveryoutgoingrate" value="CimType.UInt32" />
                <add name="Messagedeliverythrottlingstate" value="CimType.UInt32" />
                <add name="Messagedeliverythrottlingstateduration" value="CimType.UInt32" />
                <add name="Messagedeliverythrottlinguseroverride" value="CimType.UInt32" />
                <add name="Messagepublishingdelayms" value="CimType.UInt32" />
                <add name="Messagepublishingincomingrate" value="CimType.UInt32" />
                <add name="Messagepublishingoutgoingrate" value="CimType.UInt32" />
                <add name="Messagepublishingthrottlingstate" value="CimType.UInt32" />
                <add name="Messagepublishingthrottlingstateduration" value="CimType.UInt32" />
                <add name="Messagepublishingthrottlinguseroverride" value="CimType.UInt32" />
                <add name="PhysicalmemoryusageMB" value="CimType.UInt32" />
                <add name="ProcessmemoryusageMB" value="CimType.UInt32" />
                <add name="ProcessmemoryusagethresholdMB" value="CimType.UInt32" />
                <add name="ServiceclassID" value="CimType.UInt32" />
                <add name="Threadcount" value="CimType.UInt32" />
                <add name="Threadcountthreshold" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="Totalbatchescommitted" value="CimType.UInt32" />
                <add name="Totalmessagesdelivered" value="CimType.UInt32" />
                <add name="Totalmessagespublished" value="CimType.UInt32" />
            </Values>
        </add>
        <add Name="BizTalkMessaging" 
            Wql="SELECT * FROM Win32_PerfFormattedData_BTSSvc30_BizTalkMessaging" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
            <add name="Activereceivelocations" value="CimType.UInt32" />
            <add name="Activereceivethreads" value="CimType.UInt32" />
            <add name="Activesendmessages" value="CimType.UInt32" />
            <add name="Activesendthreads" value="CimType.UInt32" />
            <add name="Caption" value="CimType.String" />
            <add name="Description" value="CimType.String" />
            <add name="Documentsprocessed" value="CimType.UInt32" />
            <add name="DocumentsprocessedPerSec" value="CimType.UInt32" />
            <add name="Documentsreceived" value="CimType.UInt32" />
            <add name="DocumentsreceivedPerSec" value="CimType.UInt32" />
            <add name="Documentsresubmitted" value="CimType.UInt32" />
            <add name="DocumentssubmittedPerBatch" value="CimType.UInt32" />
            <add name="Documentssuspended" value="CimType.UInt32" />
            <add name="DocumentssuspendedPerSec" value="CimType.UInt32" />
            <add name="DocumentstransmittedPerBatch" value="CimType.UInt32" />
            <add name="Frequency_Object" value="CimType.UInt64" />
            <add name="Frequency_PerfTime" value="CimType.UInt64" />
            <add name="Frequency_Sys100NS" value="CimType.UInt64" />
            <add name="IDProcess" value="CimType.UInt32" />
            <add name="Pendingreceivebatches" value="CimType.UInt32" />
            <add name="Pendingtransmittedmessages" value="CimType.UInt32" />
            <add name="RequestPerResponsetimeouts" value="CimType.UInt32" />
            <add name="Throttledreceivebatches" value="CimType.UInt32" />
            <add name="Timestamp_Object" value="CimType.UInt64" />
            <add name="Timestamp_PerfTime" value="CimType.UInt64" />
            <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="BizTalkMessagingLatency" 
            Wql="SELECT * FROM Win32_PerfFormattedData_BTSSvc30_BizTalkMessagingLatency" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>       
                <add name="Caption" value="CimType.String" />
                <add name="Description" value="CimType.String" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="InboundLatencysec" value="CimType.UInt32" />
                <add name="OutboundAdapterLatencysec" value="CimType.UInt32" />
                <add name="OutboundLatencysec" value="CimType.UInt32" />
                <add name="RequestResponseLatencysec" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="BizTalkMessageBoxHostCounters" 
            Wql="SELECT * FROM Win32_PerfFormattedData_BizTalkMessageBoxHostCounters_BizTalkMessageBoxHostCounters" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Caption" value="CimType.String" />
                <add name="Description" value="CimType.String" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="HostQueueInstanceStateMsgRefsLength" value="CimType.UInt32" />
                <add name="HostQueueLength" value="CimType.UInt32" />
                <add name="HostQueueNumberofInstances" value="CimType.UInt32" />
                <add name="HostQueueSuspendedMsgsLength" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSBTS_ServiceInstance_Suspended" 
            Wql="select SuspendTime,InstanceID,ServiceStatus,ServiceName,ErrorDescription from MSBTS_ServiceInstance where SuspendTime > timeshift(15s) and (ServiceStatus = 2 or ServiceStatus = 32)" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/MicrosoftBizTalkServer/*"
            TimeStamp="SuspendTime"> 
            <Tags>
                <add name="ServiceName" value = "ServiceName"/>
            </Tags>
            <Values>
                <add name="ErrorDescription" value="CimType.String"/>
                <add name="ServiceStatus" value="CimType.UInt32"/>
                <!-- <add name="SuspendTime" value="CimType.DateTime"/> -->
            </Values>
        </add>
        <add Name="PerfOS_PagingFile" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfOS_PagingFile" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="PercentUsage" value="CimType.UInt32" />
                <add name="PercentUsagePeak" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="PerfOS_Memory" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfOS_Memory" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AvailableBytes" value="CimType.UInt64" />
                <add name="AvailableKBytes" value="CimType.UInt64" />
                <add name="AvailableMBytes" value="CimType.UInt64" />
                <add name="CacheBytes" value="CimType.UInt64" />
                <add name="CacheBytesPeak" value="CimType.UInt64" />
                <add name="CacheFaultsPersec" value="CimType.UInt32" />
                <add name="CommitLimit" value="CimType.UInt64" />
                <add name="CommittedBytes" value="CimType.UInt64" />
                <add name="DemandZeroFaultsPersec" value="CimType.UInt32" />
                <add name="FreeAndZeroPageListBytes" value="CimType.UInt64" />
                <add name="FreeSystemPageTableEntries" value="CimType.UInt32" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="LongTermAverageStandbyCacheLifetimes" value="CimType.UInt32" />
                <add name="ModifiedPageListBytes" value="CimType.UInt64" />
                <add name="PageFaultsPersec" value="CimType.UInt32" />
                <add name="PageReadsPersec" value="CimType.UInt32" />
                <add name="PagesInputPersec" value="CimType.UInt32" />
                <add name="PagesOutputPersec" value="CimType.UInt32" />
                <add name="PagesPersec" value="CimType.UInt32" />
                <add name="PageWritesPersec" value="CimType.UInt32" />
                <add name="PercentCommittedBytesInUse" value="CimType.UInt32" />
                <add name="PercentCommittedBytesInUse_Base" value="CimType.UInt32" />
                <add name="PoolNonpagedAllocs" value="CimType.UInt32" />
                <add name="PoolNonpagedBytes" value="CimType.UInt64" />
                <add name="PoolPagedAllocs" value="CimType.UInt32" />
                <add name="PoolPagedBytes" value="CimType.UInt64" />
                <add name="PoolPagedResidentBytes" value="CimType.UInt64" />
                <add name="StandbyCacheCoreBytes" value="CimType.UInt64" />
                <add name="StandbyCacheNormalPriorityBytes" value="CimType.UInt64" />
                <add name="StandbyCacheReserveBytes" value="CimType.UInt64" />
                <add name="SystemCacheResidentBytes" value="CimType.UInt64" />
                <add name="SystemCodeResidentBytes" value="CimType.UInt64" />
                <add name="SystemCodeTotalBytes" value="CimType.UInt64" />
                <add name="SystemDriverResidentBytes" value="CimType.UInt64" />
                <add name="SystemDriverTotalBytes" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="TransitionFaultsPersec" value="CimType.UInt32" />
                <add name="TransitionPagesRePurposedPersec" value="CimType.UInt32" />
                <add name="WriteCopiesPersec" value="CimType.UInt32" />
            </Values>
        </add>
        <add Name="PerfDisk_PhysicalDisk" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfDisk_PhysicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AvgDiskBytesPerRead" value="CimType.UInt64" />
                <add name="AvgDiskBytesPerTransfer" value="CimType.UInt64" />
                <add name="AvgDiskBytesPerWrite" value="CimType.UInt64" />
                <add name="AvgDiskQueueLength" value="CimType.UInt64" />
                <add name="AvgDiskReadQueueLength" value="CimType.UInt64" />
                <add name="AvgDisksecPerRead" value="CimType.UInt32" />
                <add name="AvgDisksecPerTransfer" value="CimType.UInt32" />
                <add name="AvgDisksecPerWrite" value="CimType.UInt32" />
                <add name="AvgDiskWriteQueueLength" value="CimType.UInt64" />
                <add name="CurrentDiskQueueLength" value="CimType.UInt32" />
                <add name="DiskBytesPersec" value="CimType.UInt64" />
                <add name="DiskReadBytesPersec" value="CimType.UInt64" />
                <add name="DiskReadsPersec" value="CimType.UInt32" />
                <add name="DiskTransfersPersec" value="CimType.UInt32" />
                <add name="DiskWriteBytesPersec" value="CimType.UInt64" />
                <add name="DiskWritesPersec" value="CimType.UInt32" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="PercentDiskReadTime" value="CimType.UInt64" />
                <add name="PercentDiskTime" value="CimType.UInt64" />
                <add name="PercentDiskWriteTime" value="CimType.UInt64" />
                <add name="PercentIdleTime" value="CimType.UInt64" />
                <add name="SplitIOPerSec" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="BizTalkApplicationLog_Errors" 
            Wql="select TimeGenerated,Message,EventCode,ComputerName,SourceName,EventType from Win32_NTLogEvent where TimeGenerated > timeshift(15s) and LogFile='Application' and EventType=1 and SourceName='BizTalk Server'" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"
            TimeStamp = "TimeGenerated"> 
            <Tags>
                <add name="ComputerName" value = "ComputerName"/>
                <add name="SourceName" value = "SourceName"/>
            </Tags>
            <Values>
                <add name="EventCode" value="CimType.UInt16" />
                <add name="EventType" value="CimType.UInt8" />
            </Values>
        </add>
        <add Name="ESBApplicationLog_Errors" 
            Wql="select TimeGenerated,Message,EventCode,ComputerName,SourceName,EventType from Win32_NTLogEvent where TimeGenerated > timeshift(15s) and LogFile='Application' and EventType=1 and SourceName='BizTalk ESB Toolkit 2.1'" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"
            TimeStamp = "TimeGenerated"> 
            <Tags>
                <add name="ComputerName" value = "ComputerName"/>
                <add name="SourceName" value = "SourceName"/>
            </Tags>
            <Values>
                <add name="EventCode" value="CimType.UInt16" />
                <add name="EventType" value="CimType.UInt8" />
            </Values>
        </add>                                                                  
    </Queries>
  </Sonar>
 </configuration>
