<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <connectionStrings>
    <add name="InfluxDB" connectionString="Data Source = udp://172.24.0.2:8092;Initial Catalog=sonar;User Id =; Password =; Application Name = default;Max Pool Size=100;Packet Size=4094;Connection Timeout=10"/>
  </connectionStrings>
  <Sonar>
    <Runtime scrapeIntervalSeconds="10" />
    <Server name="host" url="http://<machine_name>:5985/wsman" username="<username>" password="<password>"/>
    <Queries>
        <add Name="Win32_LogicalDisk" 
            Wql="select Name,Size,FreeSpace,SystemName from Win32_LogicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="SystemName" value = "SystemName"/>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Size" value="CimType.UInt64"/>
                <add name="FreeSpace" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="PerfDisk_LogicalDisk" 
            Wql="SELECT Name,PercentDiskReadTime,PercentDiskWriteTime,PercentIdleTime,PercentFreeSpace FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentDiskReadTime" value="CimType.UInt64"/>
                <add name="PercentDiskWriteTime" value="CimType.UInt64"/>
                <add name="PercentIdleTime" value="CimType.UInt64"/>
                <add name="PercentFreeSpace" value="CimType.UInt32"/>
            </Values>
        </add>
        <add Name="PerfOS_Processor" 
            Wql="select Name,PercentProcessorTime,PercentUserTime,PercentIdleTime from Win32_PerfFormattedData_PerfOS_Processor" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentProcessorTime" value="CimType.UInt64"/>
                <add name="PercentUserTime" value="CimType.UInt64"/>
                <add name="PercentIdleTime" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="PerfProc_Process" 
            Wql="select Name,PercentProcessorTime,PercentUserTime from Win32_PerfFormattedData_PerfProc_Process where PercentProcessorTime > 0" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentProcessorTime" value="CimType.UInt64"/>
                <add name="PercentUserTime" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerSQLStatistics" 
            Wql="select * from Win32_PerfFormattedData_MSSQLSERVER_SQLServerSQLStatistics" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AutoParamAttemptsPersec" value="CimType.UInt64" />
                <add name="BatchRequestsPersec" value="CimType.UInt64" />
                <add name="FailedAutoParamsPersec" value="CimType.UInt64" />
                <add name="ForcedParameterizationsPersec" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="GuidedplanexecutionsPersec" value="CimType.UInt64" />
                <add name="MisguidedplanexecutionsPersec" value="CimType.UInt64" />
                <add name="SafeAutoParamsPersec" value="CimType.UInt64" />
                <add name="SQLAttentionrate" value="CimType.UInt64" />
                <add name="SQLCompilationsPersec" value="CimType.UInt64" />
                <add name="SQLReCompilationsPersec" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="UnsafeAutoParamsPersec" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerDatabases" 
            Wql="select * from Win32_PerfFormattedData_MSSQLSERVER_SQLServerDatabases" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="ActiveTransactions" value="CimType.UInt64" />
                <add name="AvgDistFromEOLLPRequest" value="CimType.UInt64" />
                <add name="BackupPerRestoreThroughputPersec" value="CimType.UInt64" />
                <add name="BulkCopyRowsPersec" value="CimType.UInt64" />
                <add name="BulkCopyThroughputPersec" value="CimType.UInt64" />
                <add name="Committableentries" value="CimType.UInt64" />
                <add name="DataFilesSizeKB" value="CimType.UInt64" />
                <add name="DBCCLogicalScanBytesPersec" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="GroupCommitTimePersec" value="CimType.UInt64" />
                <add name="LogBytesFlushedPersec" value="CimType.UInt64" />
                <add name="LogCacheHitRatio" value="CimType.UInt64" />
                <add name="LogCacheReadsPersec" value="CimType.UInt64" />
                <add name="LogFilesSizeKB" value="CimType.UInt64" />
                <add name="LogFilesUsedSizeKB" value="CimType.UInt64" />
                <add name="LogFlushesPersec" value="CimType.UInt64" />
                <add name="LogFlushWaitsPersec" value="CimType.UInt64" />
                <add name="LogFlushWaitTime" value="CimType.UInt64" />
                <add name="LogFlushWriteTimems" value="CimType.UInt64" />
                <add name="LogGrowths" value="CimType.UInt64" />
                <add name="LogPoolCacheMissesPersec" value="CimType.UInt64" />
                <add name="LogPoolDiskReadsPersec" value="CimType.UInt64" />
                <add name="LogPoolHashDeletesPersec" value="CimType.UInt64" />
                <add name="LogPoolHashInsertsPersec" value="CimType.UInt64" />
                <add name="LogPoolInvalidHashEntryPersec" value="CimType.UInt64" />
                <add name="LogPoolLogScanPushesPersec" value="CimType.UInt64" />
                <add name="LogPoolLogWriterPushesPersec" value="CimType.UInt64" />
                <add name="LogPoolPushEmptyFreePoolPersec" value="CimType.UInt64" />
                <add name="LogPoolPushLowMemoryPersec" value="CimType.UInt64" />
                <add name="LogPoolPushNoFreeBufferPersec" value="CimType.UInt64" />
                <add name="LogPoolReqBehindTruncPersec" value="CimType.UInt64" />
                <add name="LogPoolRequestsOldVLFPersec" value="CimType.UInt64" />
                <add name="LogPoolRequestsPersec" value="CimType.UInt64" />
                <add name="LogPoolTotalActiveLogSize" value="CimType.UInt64" />
                <add name="LogPoolTotalSharedPoolSize" value="CimType.UInt64" />
                <add name="LogShrinks" value="CimType.UInt64" />
                <add name="LogTruncations" value="CimType.UInt64" />
                <add name="PercentLogUsed" value="CimType.UInt64" />
                <add name="ReplPendingXacts" value="CimType.UInt64" />
                <add name="ReplTransRate" value="CimType.UInt64" />
                <add name="ShrinkDataMovementBytesPersec" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="TrackedtransactionsPersec" value="CimType.UInt64" />
                <add name="TransactionsPersec" value="CimType.UInt64" />
                <add name="WriteTransactionsPersec" value="CimType.UInt64" />
                <add name="XTPControllerDLCLatencyPerFetch" value="CimType.UInt64" />
                <add name="XTPControllerDLCPeakLatency" value="CimType.UInt64" />
                <add name="XTPControllerLogProcessedPersec" value="CimType.UInt64" />
                <add name="XTPMemoryUsedKB" value="CimType.UInt64" />
            </Values>
        </add>
         <add Name="MSSQLSERVER_SQLServerLocks" 
            Wql="select * from Win32_PerfFormattedData_MSSQLSERVER_SQLServerLocks" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AverageWaitTimems" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="LockRequestsPersec" value="CimType.UInt64" />
                <add name="LockTimeoutsPersec" value="CimType.UInt64" />
                <add name="LockTimeoutstimeout0Persec" value="CimType.UInt64" />
                <add name="LockWaitsPersec" value="CimType.UInt64" />
                <add name="LockWaitTimems" value="CimType.UInt64" />
                <add name="NumberofDeadlocksPersec" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerGeneralStatistics" 
            Wql="select * from Win32_PerfFormattedData_MSSQLSERVER_SQLServerGeneralStatistics" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="ActiveTempTables" value="CimType.UInt64" />
                <add name="ConnectionResetPersec" value="CimType.UInt64" />
                <add name="EventNotificationsDelayedDrop" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="HTTPAuthenticatedRequests" value="CimType.UInt64" />
                <add name="LogicalConnections" value="CimType.UInt64" />
                <add name="LoginsPersec" value="CimType.UInt64" />
                <add name="LogoutsPersec" value="CimType.UInt64" />
                <add name="MarsDeadlocks" value="CimType.UInt64" />
                <add name="Nonatomicyieldrate" value="CimType.UInt64" />
                <add name="Processesblocked" value="CimType.UInt64" />
                <add name="SOAPEmptyRequests" value="CimType.UInt64" />
                <add name="SOAPMethodInvocations" value="CimType.UInt64" />
                <add name="SOAPSessionInitiateRequests" value="CimType.UInt64" />
                <add name="SOAPSessionTerminateRequests" value="CimType.UInt64" />
                <add name="SOAPSQLRequests" value="CimType.UInt64" />
                <add name="SOAPWSDLRequests" value="CimType.UInt64" />
                <add name="SQLTraceIOProviderLockWaits" value="CimType.UInt64" />
                <add name="Tempdbrecoveryunitid" value="CimType.UInt64" />
                <add name="Tempdbrowsetid" value="CimType.UInt64" />
                <add name="TempTablesCreationRate" value="CimType.UInt64" />
                <add name="TempTablesForDestruction" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="TraceEventNotificationQueue" value="CimType.UInt64" />
                <add name="Transactions" value="CimType.UInt64" />
                <add name="UserConnections" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerMemoryManager" 
            Wql="SELECT * FROM Win32_PerfFormattedData_MSSQLSERVER_SQLServerMemoryManager" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="ConnectionMemoryKB" value="CimType.UInt64" />
                <add name="DatabaseCacheMemoryKB" value="CimType.UInt64" />
                <add name="Externalbenefitofmemory" value="CimType.UInt64" />
                <add name="FreeMemoryKB" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="GrantedWorkspaceMemoryKB" value="CimType.UInt64" />
                <add name="LockBlocks" value="CimType.UInt64" />
                <add name="LockBlocksAllocated" value="CimType.UInt64" />
                <add name="LockMemoryKB" value="CimType.UInt64" />
                <add name="LockOwnerBlocks" value="CimType.UInt64" />
                <add name="LockOwnerBlocksAllocated" value="CimType.UInt64" />
                <add name="LogPoolMemoryKB" value="CimType.UInt64" />
                <add name="MaximumWorkspaceMemoryKB" value="CimType.UInt64" />
                <add name="MemoryGrantsOutstanding" value="CimType.UInt64" />
                <add name="MemoryGrantsPending" value="CimType.UInt64" />
                <add name="OptimizerMemoryKB" value="CimType.UInt64" />
                <add name="ReservedServerMemoryKB" value="CimType.UInt64" />
                <add name="SQLCacheMemoryKB" value="CimType.UInt64" />
                <add name="StolenServerMemoryKB" value="CimType.UInt64" />
                <add name="TargetServerMemoryKB" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="TotalServerMemoryKB" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerAccessMethods" 
            Wql="select * from Win32_PerfFormattedData_MSSQLSERVER_SQLServerAccessMethods" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AUcleanupbatchesPersec" value="CimType.UInt64" />
                <add name="AUcleanupsPersec" value="CimType.UInt64" />
                <add name="ByreferenceLobCreateCount" value="CimType.UInt64" />
                <add name="ByreferenceLobUseCount" value="CimType.UInt64" />
                <add name="CountLobReadahead" value="CimType.UInt64" />
                <add name="CountPullInRow" value="CimType.UInt64" />
                <add name="CountPushOffRow" value="CimType.UInt64" />
                <add name="DeferreddroppedAUs" value="CimType.UInt64" />
                <add name="DeferredDroppedrowsets" value="CimType.UInt64" />
                <add name="DroppedrowsetcleanupsPersec" value="CimType.UInt64" />
                <add name="DroppedrowsetsskippedPersec" value="CimType.UInt64" />
                <add name="ExtentDeallocationsPersec" value="CimType.UInt64" />
                <add name="ExtentsAllocatedPersec" value="CimType.UInt64" />
                <add name="FailedAUcleanupbatchesPersec" value="CimType.UInt64" />
                <add name="Failedleafpagecookie" value="CimType.UInt64" />
                <add name="Failedtreepagecookie" value="CimType.UInt64" />
                <add name="ForwardedRecordsPersec" value="CimType.UInt64" />
                <add name="FreeSpacePageFetchesPersec" value="CimType.UInt64" />
                <add name="FreeSpaceScansPersec" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="FullScansPersec" value="CimType.UInt64" />
                <add name="IndexSearchesPersec" value="CimType.UInt64" />
                <add name="InSysXactwaitsPersec" value="CimType.UInt64" />
                <add name="LobHandleCreateCount" value="CimType.UInt64" />
                <add name="LobHandleDestroyCount" value="CimType.UInt64" />
                <add name="LobSSProviderCreateCount" value="CimType.UInt64" />
                <add name="LobSSProviderDestroyCount" value="CimType.UInt64" />
                <add name="LobSSProviderTruncationCount" value="CimType.UInt64" />
                <add name="MixedpageallocationsPersec" value="CimType.UInt64" />
                <add name="PagecompressionattemptsPersec" value="CimType.UInt64" />
                <add name="PageDeallocationsPersec" value="CimType.UInt64" />
                <add name="PagesAllocatedPersec" value="CimType.UInt64" />
                <add name="PagescompressedPersec" value="CimType.UInt64" />
                <add name="PageSplitsPersec" value="CimType.UInt64" />
                <add name="ProbeScansPersec" value="CimType.UInt64" />
                <add name="RangeScansPersec" value="CimType.UInt64" />
                <add name="ScanPointRevalidationsPersec" value="CimType.UInt64" />
                <add name="SkippedGhostedRecordsPersec" value="CimType.UInt64" />
                <add name="TableLockEscalationsPersec" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="Usedleafpagecookie" value="CimType.UInt64" />
                <add name="Usedtreepagecookie" value="CimType.UInt64" />
                <add name="WorkfilesCreatedPersec" value="CimType.UInt64" />
                <add name="WorktablesCreatedPersec" value="CimType.UInt64" />
                <add name="WorktablesFromCacheRatio" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerResourcePoolStats" 
            Wql="select * from Win32_PerfFormattedData_MSSQLSERVER_SQLServerResourcePoolStats" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="ActivememorygrantamountKB" value="CimType.UInt64" />
                <add name="Activememorygrantscount" value="CimType.UInt64" />
                <add name="AvgDiskReadIOms" value="CimType.UInt64" />
                <add name="AvgDiskWriteIOms" value="CimType.UInt64" />
                <add name="CachememorytargetKB" value="CimType.UInt64" />
                <add name="CompilememorytargetKB" value="CimType.UInt64" />
                <add name="CPUcontroleffectPercent" value="CimType.UInt64" />
                <add name="CPUdelayedPercent" value="CimType.UInt64" />
                <add name="CPUeffectivePercent" value="CimType.UInt64" />
                <add name="CPUusagePercent" value="CimType.UInt64" />
                <add name="CPUusagetargetPercent" value="CimType.UInt64" />
                <add name="CPUviolatedPercent" value="CimType.UInt64" />
                <add name="DiskReadBytesPersec" value="CimType.UInt64" />
                <add name="DiskReadIOPersec" value="CimType.UInt64" />
                <add name="DiskReadIOThrottledPersec" value="CimType.UInt64" />
                <add name="DiskWriteBytesPersec" value="CimType.UInt64" />
                <add name="DiskWriteIOPersec" value="CimType.UInt64" />
                <add name="DiskWriteIOThrottledPersec" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="MaxmemoryKB" value="CimType.UInt64" />
                <add name="MemorygrantsPersec" value="CimType.UInt64" />
                <add name="MemorygranttimeoutsPersec" value="CimType.UInt64" />
                <add name="Pendingmemorygrantscount" value="CimType.UInt64" />
                <add name="QueryexecmemorytargetKB" value="CimType.UInt64" />
                <add name="TargetmemoryKB" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="UsedmemoryKB" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerBufferManager" 
            Wql="SELECT * FROM Win32_PerfFormattedData_MSSQLSERVER_SQLServerBufferManager" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="BackgroundwriterpagesPersec" value="CimType.UInt64" />
                <add name="Buffercachehitratio" value="CimType.UInt64" />
                <add name="CheckpointpagesPersec" value="CimType.UInt64" />
                <add name="Databasepages" value="CimType.UInt64" />
                <add name="Extensionallocatedpages" value="CimType.UInt64" />
                <add name="Extensionfreepages" value="CimType.UInt64" />
                <add name="Extensioninuseaspercentage" value="CimType.UInt64" />
                <add name="ExtensionoutstandingIOcounter" value="CimType.UInt64" />
                <add name="ExtensionpageevictionsPersec" value="CimType.UInt64" />
                <add name="ExtensionpagereadsPersec" value="CimType.UInt64" />
                <add name="Extensionpageunreferencedtime" value="CimType.UInt64" />
                <add name="ExtensionpagewritesPersec" value="CimType.UInt64" />
                <add name="FreeliststallsPersec" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="IntegralControllerSlope" value="CimType.UInt64" />
                <add name="LazywritesPersec" value="CimType.UInt64" />
                <add name="Pagelifeexpectancy" value="CimType.UInt64" />
                <add name="PagelookupsPersec" value="CimType.UInt64" />
                <add name="PagewritesPersec" value="CimType.UInt64" />
                <add name="ReadaheadpagesPersec" value="CimType.UInt64" />
                <add name="ReadaheadtimePersec" value="CimType.UInt64" />
                <add name="Targetpages" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerSQLErrors" 
            Wql="SELECT ErrorsPersec FROM Win32_PerfFormattedData_MSSQLSERVER_SQLServerSQLErrors" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="ErrorsPersec" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerCursorManagerbyType" 
            Wql="SELECT * FROM Win32_PerfFormattedData_MSSQLSERVER_SQLServerCursorManagerbyType" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Activecursors" value="CimType.UInt64" />
                <add name="CachedCursorCounts" value="CimType.UInt64" />
                <add name="CacheHitRatio" value="CimType.UInt64" />
                <add name="CursorCacheUseCountsPersec" value="CimType.UInt64" />
                <add name="Cursormemoryusage" value="CimType.UInt64" />
                <add name="CursorRequestsPersec" value="CimType.UInt64" />
                <add name="Cursorworktableusage" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="Numberofactivecursorplans" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerWaitStatistics" 
            Wql="SELECT * FROM Win32_PerfFormattedData_MSSQLSERVER_SQLServerWaitStatistics" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="Lockwaits" value="CimType.UInt64" />
                <add name="Logbufferwaits" value="CimType.UInt64" />
                <add name="Logwritewaits" value="CimType.UInt64" />
                <add name="Memorygrantqueuewaits" value="CimType.UInt64" />
                <add name="NetworkIOwaits" value="CimType.UInt64" />
                <add name="NonPagelatchwaits" value="CimType.UInt64" />
                <add name="PageIOlatchwaits" value="CimType.UInt64" />
                <add name="Pagelatchwaits" value="CimType.UInt64" />
                <add name="Threadsafememoryobjectswaits" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="Transactionownershipwaits" value="CimType.UInt64" />
                <add name="Waitfortheworker" value="CimType.UInt64" />
                <add name="Workspacesynchronizationwaits" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerAvailabilityReplica" 
            Wql="SELECT * FROM Win32_PerfRawData_MSSQLSERVER_SQLServerAvailabilityReplica" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="BytesReceivedfromReplicaPersec" value="CimType.UInt64" />
                <add name="BytesSenttoReplicaPersec" value="CimType.UInt64" />
                <add name="BytesSenttoTransportPersec" value="CimType.UInt64" />
                <add name="FlowControlPersec" value="CimType.UInt64" />
                <add name="FlowControlTimemsPersec" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="ReceivesfromReplicaPersec" value="CimType.UInt64" />
                <add name="esentMessagesPersec" value="CimType.UInt64" />
                <add name="SendstoReplicaPersec" value="CimType.UInt64" />
                <add name="SendstoTransportPersec" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="PerfOS_PagingFile" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfOS_PagingFile" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="PercentUsage" value="CimType.UInt32" />
                <add name="PercentUsagePeak" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="PerfOS_Memory" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfOS_Memory" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AvailableBytes" value="CimType.UInt64" />
                <add name="AvailableKBytes" value="CimType.UInt64" />
                <add name="AvailableMBytes" value="CimType.UInt64" />
                <add name="CacheBytes" value="CimType.UInt64" />
                <add name="CacheBytesPeak" value="CimType.UInt64" />
                <add name="CacheFaultsPersec" value="CimType.UInt32" />
                <add name="CommitLimit" value="CimType.UInt64" />
                <add name="CommittedBytes" value="CimType.UInt64" />
                <add name="DemandZeroFaultsPersec" value="CimType.UInt32" />
                <add name="FreeAndZeroPageListBytes" value="CimType.UInt64" />
                <add name="FreeSystemPageTableEntries" value="CimType.UInt32" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="LongTermAverageStandbyCacheLifetimes" value="CimType.UInt32" />
                <add name="ModifiedPageListBytes" value="CimType.UInt64" />
                <add name="PageFaultsPersec" value="CimType.UInt32" />
                <add name="PageReadsPersec" value="CimType.UInt32" />
                <add name="PagesInputPersec" value="CimType.UInt32" />
                <add name="PagesOutputPersec" value="CimType.UInt32" />
                <add name="PagesPersec" value="CimType.UInt32" />
                <add name="PageWritesPersec" value="CimType.UInt32" />
                <add name="PercentCommittedBytesInUse" value="CimType.UInt32" />
                <add name="PercentCommittedBytesInUse_Base" value="CimType.UInt32" />
                <add name="PoolNonpagedAllocs" value="CimType.UInt32" />
                <add name="PoolNonpagedBytes" value="CimType.UInt64" />
                <add name="PoolPagedAllocs" value="CimType.UInt32" />
                <add name="PoolPagedBytes" value="CimType.UInt64" />
                <add name="PoolPagedResidentBytes" value="CimType.UInt64" />
                <add name="StandbyCacheCoreBytes" value="CimType.UInt64" />
                <add name="StandbyCacheNormalPriorityBytes" value="CimType.UInt64" />
                <add name="StandbyCacheReserveBytes" value="CimType.UInt64" />
                <add name="SystemCacheResidentBytes" value="CimType.UInt64" />
                <add name="SystemCodeResidentBytes" value="CimType.UInt64" />
                <add name="SystemCodeTotalBytes" value="CimType.UInt64" />
                <add name="SystemDriverResidentBytes" value="CimType.UInt64" />
                <add name="SystemDriverTotalBytes" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="TransitionFaultsPersec" value="CimType.UInt32" />
                <add name="TransitionPagesRePurposedPersec" value="CimType.UInt32" />
                <add name="WriteCopiesPersec" value="CimType.UInt32" />
            </Values>
        </add>
        <add Name="PerfDisk_PhysicalDisk" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfDisk_PhysicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AvgDiskBytesPerRead" value="CimType.UInt64" />
                <add name="AvgDiskBytesPerTransfer" value="CimType.UInt64" />
                <add name="AvgDiskBytesPerWrite" value="CimType.UInt64" />
                <add name="AvgDiskQueueLength" value="CimType.UInt64" />
                <add name="AvgDiskReadQueueLength" value="CimType.UInt64" />
                <add name="AvgDisksecPerRead" value="CimType.UInt32" />
                <add name="AvgDisksecPerTransfer" value="CimType.UInt32" />
                <add name="AvgDisksecPerWrite" value="CimType.UInt32" />
                <add name="AvgDiskWriteQueueLength" value="CimType.UInt64" />
                <add name="CurrentDiskQueueLength" value="CimType.UInt32" />
                <add name="DiskBytesPersec" value="CimType.UInt64" />
                <add name="DiskReadBytesPersec" value="CimType.UInt64" />
                <add name="DiskReadsPersec" value="CimType.UInt32" />
                <add name="DiskTransfersPersec" value="CimType.UInt32" />
                <add name="DiskWriteBytesPersec" value="CimType.UInt64" />
                <add name="DiskWritesPersec" value="CimType.UInt32" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="PercentDiskReadTime" value="CimType.UInt64" />
                <add name="PercentDiskTime" value="CimType.UInt64" />
                <add name="PercentDiskWriteTime" value="CimType.UInt64" />
                <add name="PercentIdleTime" value="CimType.UInt64" />
                <add name="SplitIOPerSec" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerPlanCache" 
            Wql="SELECT * FROM Win32_PerfFormattedData_MSSQLSERVER_SQLServerPlanCache" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="CacheHitRatio" value="CimType.UInt64" />
                <add name="CacheObjectCounts" value="CimType.UInt64" />
                <add name="CacheObjectsinuse" value="CimType.UInt64" />
                <add name="CachePages" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="MSSQLSERVER_SQLServerDatabaseReplica" 
            Wql="SELECT * FROM Win32_PerfFormattedData_MSSQLSERVER_SQLServerDatabaseReplica" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="FileBytesReceivedPersec" value="CimType.UInt64" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="LogApplyPendingQueue" value="CimType.UInt64" />
                <add name="LogApplyReadyQueue" value="CimType.UInt64" />
                <add name="LogBytesReceivedPersec" value="CimType.UInt64" />
                <add name="Logremainingforundo" value="CimType.UInt64" />
                <add name="LogSendQueue" value="CimType.UInt64" />
                <add name="MirroredWriteTransactionsPersec" value="CimType.UInt64" />
                <add name="RecoveryQueue" value="CimType.UInt64" />
                <add name="RedoblockedPersec" value="CimType.UInt64" />
                <add name="RedoBytesRemaining" value="CimType.UInt64" />
                <add name="RedoneBytesPersec" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="TotalLogrequiringundo" value="CimType.UInt64" />
                <add name="TransactionDelay" value="CimType.UInt64" />
            </Values>
        </add>                                            
    </Queries>
  </Sonar>
 </configuration>
