<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <connectionStrings>
    <add name="InfluxDB" connectionString="Data Source = udp://172.24.0.2:8092;Initial Catalog=sonar;User Id =; Password =; Application Name = default;Max Pool Size=100;Packet Size=4094;Connection Timeout=10"/>
  </connectionStrings>
  <Sonar>
    <Runtime scrapeIntervalSeconds="10" />
    <Server name="host" url="http://<machine_name>:5985/wsman" username="<username>" password="<password>"/>
    <Queries>
        <add Name="Win32_LogicalDisk" 
            Wql="select Name,Size,FreeSpace,SystemName from Win32_LogicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="SystemName" value = "SystemName"/>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Size" value="CimType.UInt64"/>
                <add name="FreeSpace" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="PerfDisk_LogicalDisk" 
            Wql="SELECT Name,PercentDiskReadTime,PercentDiskWriteTime,PercentIdleTime,PercentFreeSpace FROM Win32_PerfFormattedData_PerfDisk_LogicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentDiskReadTime" value="CimType.UInt64"/>
                <add name="PercentDiskWriteTime" value="CimType.UInt64"/>
                <add name="PercentIdleTime" value="CimType.UInt64"/>
                <add name="PercentFreeSpace" value="CimType.UInt32"/>
            </Values>
        </add>
        <add Name="PerfOS_Processor" 
            Wql="select Name,PercentProcessorTime,PercentUserTime,PercentIdleTime from Win32_PerfFormattedData_PerfOS_Processor" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentProcessorTime" value="CimType.UInt64"/>
                <add name="PercentUserTime" value="CimType.UInt64"/>
                <add name="PercentIdleTime" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="PerfProc_Process" 
            Wql="select Name,PercentProcessorTime,PercentUserTime from Win32_PerfFormattedData_PerfProc_Process where PercentProcessorTime > 0" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*">
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="PercentProcessorTime" value="CimType.UInt64"/>
                <add name="PercentUserTime" value="CimType.UInt64"/>
            </Values>
        </add>
        <add Name="PerfOS_PagingFile" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfOS_PagingFile" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="PercentUsage" value="CimType.UInt32" />
                <add name="PercentUsagePeak" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>
        <add Name="PerfOS_Memory" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfOS_Memory" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AvailableBytes" value="CimType.UInt64" />
                <add name="AvailableKBytes" value="CimType.UInt64" />
                <add name="AvailableMBytes" value="CimType.UInt64" />
                <add name="CacheBytes" value="CimType.UInt64" />
                <add name="CacheBytesPeak" value="CimType.UInt64" />
                <add name="CacheFaultsPersec" value="CimType.UInt32" />
                <add name="CommitLimit" value="CimType.UInt64" />
                <add name="CommittedBytes" value="CimType.UInt64" />
                <add name="DemandZeroFaultsPersec" value="CimType.UInt32" />
                <add name="FreeAndZeroPageListBytes" value="CimType.UInt64" />
                <add name="FreeSystemPageTableEntries" value="CimType.UInt32" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="LongTermAverageStandbyCacheLifetimes" value="CimType.UInt32" />
                <add name="ModifiedPageListBytes" value="CimType.UInt64" />
                <add name="PageFaultsPersec" value="CimType.UInt32" />
                <add name="PageReadsPersec" value="CimType.UInt32" />
                <add name="PagesInputPersec" value="CimType.UInt32" />
                <add name="PagesOutputPersec" value="CimType.UInt32" />
                <add name="PagesPersec" value="CimType.UInt32" />
                <add name="PageWritesPersec" value="CimType.UInt32" />
                <add name="PercentCommittedBytesInUse" value="CimType.UInt32" />
                <add name="PercentCommittedBytesInUse_Base" value="CimType.UInt32" />
                <add name="PoolNonpagedAllocs" value="CimType.UInt32" />
                <add name="PoolNonpagedBytes" value="CimType.UInt64" />
                <add name="PoolPagedAllocs" value="CimType.UInt32" />
                <add name="PoolPagedBytes" value="CimType.UInt64" />
                <add name="PoolPagedResidentBytes" value="CimType.UInt64" />
                <add name="StandbyCacheCoreBytes" value="CimType.UInt64" />
                <add name="StandbyCacheNormalPriorityBytes" value="CimType.UInt64" />
                <add name="StandbyCacheReserveBytes" value="CimType.UInt64" />
                <add name="SystemCacheResidentBytes" value="CimType.UInt64" />
                <add name="SystemCodeResidentBytes" value="CimType.UInt64" />
                <add name="SystemCodeTotalBytes" value="CimType.UInt64" />
                <add name="SystemDriverResidentBytes" value="CimType.UInt64" />
                <add name="SystemDriverTotalBytes" value="CimType.UInt64" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
                <add name="TransitionFaultsPersec" value="CimType.UInt32" />
                <add name="TransitionPagesRePurposedPersec" value="CimType.UInt32" />
                <add name="WriteCopiesPersec" value="CimType.UInt32" />
            </Values>
        </add>
        <add Name="PerfDisk_PhysicalDisk" 
            Wql="SELECT * FROM Win32_PerfFormattedData_PerfDisk_PhysicalDisk" 
            Resource="http://schemas.microsoft.com/wbem/wsman/1/wmi/root/cimv2/*"> 
            <Tags>
                <add name="Name" value = "Name"/>
            </Tags>
            <Values>
                <add name="AvgDiskBytesPerRead" value="CimType.UInt64" />
                <add name="AvgDiskBytesPerTransfer" value="CimType.UInt64" />
                <add name="AvgDiskBytesPerWrite" value="CimType.UInt64" />
                <add name="AvgDiskQueueLength" value="CimType.UInt64" />
                <add name="AvgDiskReadQueueLength" value="CimType.UInt64" />
                <add name="AvgDisksecPerRead" value="CimType.UInt32" />
                <add name="AvgDisksecPerTransfer" value="CimType.UInt32" />
                <add name="AvgDisksecPerWrite" value="CimType.UInt32" />
                <add name="AvgDiskWriteQueueLength" value="CimType.UInt64" />
                <add name="CurrentDiskQueueLength" value="CimType.UInt32" />
                <add name="DiskBytesPersec" value="CimType.UInt64" />
                <add name="DiskReadBytesPersec" value="CimType.UInt64" />
                <add name="DiskReadsPersec" value="CimType.UInt32" />
                <add name="DiskTransfersPersec" value="CimType.UInt32" />
                <add name="DiskWriteBytesPersec" value="CimType.UInt64" />
                <add name="DiskWritesPersec" value="CimType.UInt32" />
                <add name="Frequency_Object" value="CimType.UInt64" />
                <add name="Frequency_PerfTime" value="CimType.UInt64" />
                <add name="Frequency_Sys100NS" value="CimType.UInt64" />
                <add name="PercentDiskReadTime" value="CimType.UInt64" />
                <add name="PercentDiskTime" value="CimType.UInt64" />
                <add name="PercentDiskWriteTime" value="CimType.UInt64" />
                <add name="PercentIdleTime" value="CimType.UInt64" />
                <add name="SplitIOPerSec" value="CimType.UInt32" />
                <add name="Timestamp_Object" value="CimType.UInt64" />
                <add name="Timestamp_PerfTime" value="CimType.UInt64" />
                <add name="Timestamp_Sys100NS" value="CimType.UInt64" />
            </Values>
        </add>                                                                 
    </Queries>
  </Sonar>
 </configuration>
