<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Sonar" type="Infragravity.Sonar.SonarConfigurationSection, Sonar"/>
  </configSections>
  <appSettings>
    <add key="ConfigPath" value="C:/Program Files/Sonar/Sonar.config"/>
    <add key="RuntimeType" value="Service"/>
    <add key="LogLevel" value="Information"/>
    <add key="LogPath" value="C:/Program Files/Sonar/Sonar.log"/>
    <add key="ExporterPort" value="9191"/>
    <add key="ExporterCacheMilliseconds" value="60000"/>
    <add key="ExporterEnabled" value="true"/>
  </appSettings>
</configuration>
